/* Default
     definições padrões para o HTML que serão aplicadas a todo o projeto
     os tamanhos utilizarão unidades relativas (REM) como tamanho padrão inicial 16px 
*/

/* fontes */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* formulário de cadastro */
@import url(./styles/formulario_cadastro.css);

/* módulo 02 */
@import url(./styles/modulo_02/default.css);
@import url(./styles/modulo_02/header_and_footer.css);
@import url(./styles/modulo_02/section_modulo_02__introducao_git.css);

/* loja de games */
@import url(./styles/loja_games/default.css);
@import url(./styles/loja_games/cabecalho_e_rodape.css);
@import url(./styles/loja_games/sobre_a_loja.css);
@import url(./styles/loja_games/contato.css);

:root {
     --font_default: "Roboto", sans-serif;

     /* colors */
     --silver: hsla(0, 0%, 77%, 1);
     --battleship-gray-1: hsla(180, 6%, 54%, 1);
     --raisin-black: hsla(230, 8%, 14%, 1);
     --battleship-gray-2: hsla(137, 3%, 59%, 1);
     --crimson: hsla(354, 69%, 50%, 1);
}

* {
     box-sizing: border-box;
}

html {
     font-family: var(--font_default);
     font-size: 16px;
     font-weight: 300;
     letter-spacing: 1.5px;
     line-height: 1.5rem;
     text-align: justify;
}

body {
     background-color: var(--raisin-black);
     color: var(--silver);
}

body.body_index > header.cabecalho_index {
     margin-bottom: 1.5rem;
     padding: 1rem 0;

     /* ! Lembrar de estudar melhor sobre este conceito */
     /* position:fixed;
     top: 0; */
}

body.body_index > header.cabecalho_index > ul.cabecalho_index__lista {
     display: flex;
     flex-flow: row nowrap;
     gap: 2.5rem;
     justify-content: flex-end;
}
body.body_index > header.cabecalho_index > ul.cabecalho_index__lista {
     margin-right: 1rem;
     padding: 1rem;
}

body.body_index > h1.titulo_index {
     font-size: 2.5rem;
     font-weight: 500;
     text-align: center;
     margin-bottom: 2.5rem;
     padding: 2.5rem;
     width: 100vw;
}
body.body_index > h1.titulo_index > strong.titulo_index__negrito {
     color: var(--crimson);
     font-size: 1.25rem;
     font-weight: 700;
}

body.body_index > section.section_index {
     margin: 1rem auto 3rem auto;
     max-width: 1366px;
     width: 100%;
}

body.body_index
     > section.section_index_introducao
     > p.section_index_introducao__paragrafo {
     line-height: 1.5rem;
}
body.body_index
     > section.section_index_introducao
     > p.section_index_introducao__paragrafo
     > em.section_index_introducao__paragrafo__italico {
     font-style: italic;
}
body.body_index
     > section.section_index_introducao
     > ul.section_index_introducao__lista_aprendizado {
     list-style: circle;
     margin: 1rem 2rem;
     padding: 0.5rem 1.5rem;
}

body.body_index
     > section.section_index_introducao
     > ul.section_index_introducao__lista_aprendizado
     li {
     margin: 0.5rem 1rem;
     padding: 0.5rem 1.5rem;
}

body.body_index
     > section.section_index_lista_modulos
     > h2.section_index_lista_modulos__titulo_h2 {
     font-size: 1.5rem;
     font-weight: 500;
     margin-bottom: 1.5rem;
}

body.body_index
     > section.section_index_lista_modulos
     > ul.section_index_lista_modulos__lista {
     margin-top: 1.5rem;
}

body.body_index
     > section.section_index_lista_modulos
     > ul.section_index_lista_modulos__lista
     > li.section_index_lista_modulos__lista__itens {
     margin: 0.5rem 1rem;
     padding: 0.5rem 1.5rem;
}

body.body_index
     > section.section_index_lista_modulos
     > ul.section_index_lista_modulos__lista
     > li.section_index_lista_modulos__lista__itens
     > a.section_index_lista_modulos__lista__itens__link {
     color: var(--silver);
     font-family: var(--font_default);
     text-decoration: none;
     padding: 0.5rem;
}
body.body_index
     > section.section_index_lista_modulos
     > ul.section_index_lista_modulos__lista
     > li.section_index_lista_modulos__lista__itens
     > a.section_index_lista_modulos__lista__itens__link:hover {
     background-color: var(--battleship-gray-1);
     border-radius: 0.5rem;
     color: white;
     font-weight: 300;
}

footer.rodape_index {
     bottom: 0;
     margin-top: 0.5rem;
     padding: 0.5rem 0;
     position: fixed;
     width: 100vw;
}

footer.rodape_index > div {
     align-items: center;
     display: flex;
     flex-flow: row nowrap;
     justify-content: space-between;
     padding: 0 1rem;
}

footer.rodape_index > div > p.rodape_index__paragrafo {
     font-size: 0.75rem;
     margin-right: 1rem;
     padding: 1rem;
}
