/* Default
     definições padrões para o HTML que serão aplicadas a todo o projeto
     os tamanhos utilizarão unidades relativas (REM) como tamanho padrão inicial 16px 
*/

/* fontes */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* styles: módulos */
@import url(styles/modulo_02.css);
@import url(styles/modulo_03.css);

/* módulo 03 */
/* @import url(./styles/modulo_03/default.css);
@import url(./styles/modulo_03/header_and_footer.css);
@import url(./styles/modulo_03/formulario_cadastro.css); */

/* loja de games */
/* @import url(./styles/loja_games/default.css);
@import url(./styles/loja_games/cabecalho_e_rodape.css);
@import url(./styles/loja_games/sobre_a_loja.css);
@import url(./styles/loja_games/contato.css); */

:root {
     --font_default: "Roboto", sans-serif;

     /* colors */
     --silver: hsla(0, 0%, 77%, 1);
     --battleship-gray-1: hsla(180, 6%, 54%, 1);
     --raisin-black: hsla(230, 8%, 14%, 1);
     --battleship-gray-2: hsla(137, 3%, 59%, 1);
     --crimson: hsla(354, 69%, 50%, 1);
}

* {
     box-sizing: border-box;
}

html {
     font-family: var(--font_default);
     font-size: 16px;
     font-weight: 300;
     letter-spacing: 1.5px;
     line-height: 1.5rem;
     text-align: justify;
}

body {
     background-color: var(--raisin-black);
     color: var(--silver);
     min-height: 100vh;
}

header {
     margin-bottom: 1.5rem;
     padding: 0.25rem 0;
     top: 0;
}

header > nav > ul {
     display: flex;
     flex-flow: row nowrap;
     gap: 2.5rem;
     justify-content: flex-end;
     list-style: none;
}

header > nav > ul > li {
     margin-right: 1rem;
     padding: 1rem;
}

header > nav > ul > li > a {
     color: var(--silver);
     text-decoration: none;
}

h1 {
     font-size: 2.5rem;
     font-weight: 500;
     text-align: center;
     margin-bottom: 2.5rem;
     padding: 2.5rem;
     width: 100vw;
}
h1 > strong {
     color: var(--crimson);
     font-size: 1.25rem;
     font-weight: 700;
}

h2 {
     font-size: 1.75rem;
     font-weight: 500;
     margin: 3rem 0;
     padding: 1rem 0;
     text-align: center;
}

h3 {
     font-size: 1.25rem;
     font-weight: 500;
     margin: 3rem 0 1rem 0;
     padding: 1rem 0;
}

p {
     line-height: 1.5rem;
     margin-bottom: 1rem;
     text-align: justify;
}
p > em,
i {
     font-style: italic;
}

a {
     color: var(--crimson);
     text-decoration: none;
}
a:hover {
     background-color: var(--battleship-gray-1);
     color: white;
     font-weight: 300;
}

section {
     margin: 1rem auto 3rem auto;
     max-width: 1024px;
     width: 100%;
}

ul {
     list-style: circle;
     margin: 1rem 2rem;
     padding: 0.5rem 1.5rem;
}

li {
     line-height: 1.5rem;
     margin-bottom: 1rem;
     padding-left: 1rem;
     text-align: justify;
}

li > a {
     padding: 0.5rem;
}
li > a:hover {
     border-radius: 0.5rem;
}

footer {
     bottom: 0;
     margin-top: 0.5rem;
     padding: 0.5rem 0;
     position: fixed;
     width: 100vw;
}

footer > div {
     align-items: center;
     display: flex;
     flex-flow: row nowrap;
     justify-content: space-between;
     padding: 1rem 1.5rem 0rem 1.5rem;
     width: 100%;
}

footer > div > p {
     font-size: 0.75rem;
     text-align: center;
     padding: 1rem;
}

footer > ul {
     align-items: center;
     display: flex;
     flex-flow: row nowrap;
     justify-content: space-between;
     list-style: none;
}

footer > ul > li {
     font-size: 0.75rem;
     padding: 1rem;
}

footer > ul > li > a {
     color: var(--silver);
     text-decoration: none;
}
