body.body_loja_games > header.cabecalho {
     background-color: var(--battleship-gray-1);
     color: var(--raisin-black);
     font-size: 1.5rem;
     font-weight: 500;
     padding: 1rem 0;
     width: 100vw;
}
body.body_loja_games > header.cabecalho > div.container {
     align-items: center;
     display: flex;
     flex-flow: line nowrap;
     justify-content: space-between;
     margin: 0 auto;
     max-width: 1366px;
     width: 100%;
}

body.body_loja_games > header.cabecalho > div.container > h1.cabecalho__titulo {
     font-size: 2.25rem;
}

body.body_loja_games
     > header.cabecalho
     > div.container
     > nav.cabecalho__menu
     > ul.cabecalho__menu__lista
     > li.cabecalho__menu__lista__itens {
     display: inline;
     font-size: 1rem;
     padding: 1rem;
}

body.body_loja_games
     > header.cabecalho
     > div.container
     > nav.cabecalho__menu
     > ul.cabecalho__menu__lista
     > li.cabecalho__menu__lista__itens
     > a.cabecalho__menu__lista__itens__link {
     color: var(--raisin-black);
     font-size: 1.25rem;
     text-decoration: none;
}

body.body_loja_games > footer.loja_games__rodape {
     align-items: center;
     justify-content: center;
     display:inline-flex;
     background-color: var(--battleship-gray-1);
     color: var(--raisin-black);
     padding: 1rem;
     position: absolute;
     top: 95.5vh;
     width: 100vw;

}
body.body_loja_games
     > footer.loja_games__rodape
     > div.loja_games__rodape__container {
     align-items: center;
     justify-content: start;
     display: inline-flex;
     flex-flow: line nowrap;
     max-width: 1366px;
     width: 100%;
}
body.body_loja_games
     > footer.loja_games__rodape
     > div.loja_games__rodape__container
     > p.loja_games__rodape {
     font-weight: 400;
     text-align: justify;
}
