body.body_modulo_02 > header.cabecalho {
     margin-bottom: 1rem;
     padding: 1rem;
}

body.body_modulo_02 > header.cabecalho > nav.cabecalho__menu {
     padding: 1rem;
}

body.body_modulo_02
     > header.cabecalho
     > nav.cabecalho__menu
     > ul.cabecalho__menu__lista {
     align-items: center;
     display: flex;
     flex-flow: row nowrap;
     gap: 3rem;
     justify-content: end;
}

body.body_modulo_02
     > header.cabecalho
     > nav.cabecalho__menu
     > ul.cabecalho__menu__lista
     > li.cabecalho__menu__lista__itens
     > a.cabecalho__menu__lista__itens__link {
     color: var(--silver);
     text-decoration: none;
}

body.body_modulo_02 > footer.rodape {
     bottom: 0;
     margin: 3rem auto 0 auto;
     padding: 1.5rem 0 0.5rem 0;
     width: 100vw;
}

body.body_modulo_02 > footer.rodape > ul.rodape__lista {
     align-items: center;
     display: flex;
     flex-flow: row nowrap;
     justify-content: space-between;
     padding-top: 1rem;
}

body.body_modulo_02
     > footer.rodape
     > ul.rodape__lista
     > li.rodape__lista__itens {
     font-size: 0.75rem;
     padding: 1rem;
}

body.body_modulo_02
     > footer.rodape
     > ul.rodape__lista
     > li.rodape__lista__itens
     > a {
     color: var(--silver);
     text-decoration: none;
}
body.body_modulo_02
     > footer.rodape
     > ul.rodape__lista
     > li.rodape__lista__itens
     > a:hover {
     color: var(--crimson);
}
