body.body_modulo_06_exercicio > main.body_modulo_06_exercicio__main > section.body_modulo_06_exercicio__section_descricao > form.body_modulo_06_exercicio__section_descricao__form_area {
     align-items: center;
     display: flex;
     flex-flow: column nowrap;
     gap: 1rem;
     justify-content: center;
     margin-top: 1.5rem;
     padding: 1rem;
     width: 100%;
}

body.body_modulo_06_exercicio
     > main.body_modulo_06_exercicio__main
     > section.body_modulo_06_exercicio__section_descricao
     > form.body_modulo_06_exercicio__section_descricao__form_area
     > div.body_modulo_06_exercicio__section_descricao__form_area__container {
     text-align: center;
     width: 100%;
}

body.body_modulo_06_exercicio
     > main.body_modulo_06_exercicio__main
     > section.body_modulo_06_exercicio__section_descricao
     > form.body_modulo_06_exercicio__section_descricao__form_area
     > div.body_modulo_06_exercicio__section_descricao__form_area__container
     > .body_modulo_06_exercicio__section_descricao__form_area__container__item {
     display: inline-block;
     margin-top: 0.5rem;
     padding: 0.125rem;
     text-align: center;
     width: 50%;
}

body.body_modulo_06_exercicio
     > main.body_modulo_06_exercicio__main
     > section.body_modulo_06_exercicio__section_descricao
     > form.body_modulo_06_exercicio__section_descricao__form_area
     > div.body_modulo_06_exercicio__section_descricao__form_area__container
     > input.body_modulo_06_exercicio__section_descricao__form_area__container__input {
     border-radius: 0.5rem;
}

body.body_modulo_06_exercicio
     > main.body_modulo_06_exercicio__main
     > section.body_modulo_06_exercicio__section_descricao
     > form.body_modulo_06_exercicio__section_descricao__form_area
     > button.body_modulo_06_exercicio__section_descricao__form_area__button_calcular_area {
     border-radius: 0.5rem;
     cursor: pointer;
     font-weight: 700;
     margin-top: 1rem;
     padding: 0.25rem;
     text-align: center;
     text-transform: uppercase;
     width: 50%;
}

body.body_modulo_06_exercicio > main.body_modulo_06_exercicio__main > section.body_modulo_06_exercicio__section_resultado {
     display: none;
     text-align: center;
}

body.body_modulo_06_exercicio > main.body_modulo_06_exercicio__main > section.body_modulo_06_exercicio__section_resultado > div.section_resultado__container > div.section_resultado__container__sub_container {
     align-items: center;
     border: solid 2.5px var(--crimson);
     border-radius: 10px;
     display: flex;
     flex-flow: column nowrap;
     justify-content: start;
     height: 5rem;
     margin: 2.5rem auto;
     width: 75%;
     text-align: center;
}
body.body_modulo_06_exercicio > main.body_modulo_06_exercicio__main > section.body_modulo_06_exercicio__section_resultado > div.section_resultado__container > div.section_resultado__container__sub_container p {
     width: 100%;
}

body.body_modulo_06_exercicio > main.body_modulo_06_exercicio__main > section.body_modulo_06_exercicio__section_resultado > button.body_modulo_06_exercicio__section_resultado__button_novo_calculo {
     border-radius: 0.5rem;
     cursor: pointer;
     display: inline;
     font-weight: 700;
     margin-top: 2.5rem;
     padding: 0.25rem;
     text-align: center;
     text-transform: uppercase;
     width: 50%;
}

@media screen and (min-width: 640px) {
     body.body_modulo_06_exercicio
          > main.body_modulo_06_exercicio__main
          > section.body_modulo_06_exercicio__section_descricao
          > form.body_modulo_06_exercicio__section_descricao__form_area
          > div.body_modulo_06_exercicio__section_descricao__form_area__container {
          text-align: justify;
     }

     body.body_modulo_06_exercicio
          > main.body_modulo_06_exercicio__main
          > section.body_modulo_06_exercicio__section_descricao
          > form.body_modulo_06_exercicio__section_descricao__form_area
          > div.body_modulo_06_exercicio__section_descricao__form_area__container::after {
          content: "";
          display: inline-block;
          width: 100%;
     }

     body.body_modulo_06_exercicio
          > main.body_modulo_06_exercicio__main
          > section.body_modulo_06_exercicio__section_descricao
          > form.body_modulo_06_exercicio__section_descricao__form_area
          > div.body_modulo_06_exercicio__section_descricao__form_area__container
          > .body_modulo_06_exercicio__section_descricao__form_area__container__item {
          width: 45%;
     }
}
