
body.body_modulo_02
     > section.modulo_02__introducao_git
     > article.modulo_02__introducao_git__article_conceitos_git
     > div.modulo_02__introducao_git__article_conceitos_git__container
     > div.modulo_02__introducao_git__article_conceitos_git__container__exemplo_codigo {
     background-color: #0d0b0b6e;
     border-radius: 1rem;
     margin: 1rem 0;
     padding: 2.5rem;
}

body.body_modulo_02
     > section.modulo_02__introducao_git
     > article.modulo_02__introducao_git__article_conceitos_git
     > div.modulo_02__introducao_git__article_conceitos_git__container
     > div.modulo_02__introducao_git__article_conceitos_git__container__exemplo_codigo
     > code {
     line-height: 2.5rem;
}

body.body_modulo_02
     > section.modulo_02__introducao_git
     > article.modulo_02__introducao_git__article_conceitos_git
     > div.modulo_02__introducao_git__article_conceitos_git__container
     > div.modulo_02__introducao_git__article_conceitos_git__container__exemplo_codigo
     > code
     > em {
     color: #f78dbb;
     padding-right: 0.5rem;
}

body.body_modulo_02
     > section.modulo_02__introducao_git
     > article.modulo_02__introducao_git__article_conceitos_git
     > div.modulo_02__introducao_git__article_conceitos_git__container
     > div.modulo_02__introducao_git__article_conceitos_git__container__exemplo_codigo
     > code
     > strong.verde {
     color: #00ff00;
}

body.body_modulo_02
     > section.modulo_02__introducao_git
     > article.modulo_02__introducao_git__article_conceitos_git
     > div.modulo_02__introducao_git__article_conceitos_git__container
     > div.modulo_02__introducao_git__article_conceitos_git__container__exemplo_codigo
     > code
     > strong.amarelo {
     color: #cccc00;
}

body.body_modulo_02
     > section.modulo_02__introducao_git
     > article.modulo_02__introducao_git__article_conceitos_git
     > div.modulo_02__introducao_git__article_conceitos_git__container
     > div.modulo_02__introducao_git__article_conceitos_git__container__exemplo_codigo
     > code
     > small {
     color: #f78dbb;
     font-size: 0.95rem;
}

/* Seção: modulo_02__exercicio */
body.body_modulo_02
     > section.modulo_02__exercicio
     > article.modulo_02__exercicio__article
     > div.modulo_02__exercicio__article__container_code {
     align-items: flex-start;
     display: flex;
     flex-flow: column nowrap;
     gap: 1.5rem;
}
body.body_modulo_02
     > section.modulo_02__exercicio
     > article.modulo_02__exercicio__article
     > div.modulo_02__exercicio__article__container_code {
     background-color: #0d0b0b6e;
     border-radius: 1rem;
     margin: 1rem 0;
     padding: 2.5rem;
}

body.body_modulo_02
     > section.modulo_02__exercicio
     > article.modulo_02__exercicio__article
     > div.modulo_02__exercicio__article__container_code
     > code {
     line-height: 2.5rem;
}

body.body_modulo_02
     > section.modulo_02__exercicio
     > article.modulo_02__exercicio__article
     > div.modulo_02__exercicio__article__container_code
     > code
     > em {
     color: #f78dbb;
     padding-right: 0.5rem;
}

body.body_modulo_02
     > section.modulo_02__exercicio
     > article.modulo_02__exercicio__article
     > div.modulo_02__exercicio__article__container_code
     > code
     > strong.verde {
     color: #00ff00;
}

body.body_modulo_02
     > section.modulo_02__exercicio
     > article.modulo_02__exercicio__article
     > div.modulo_02__exercicio__article__container_code
     > code
     > strong.amarelo {
     color: #cccc00;
}

body.body_modulo_02
     > section.modulo_02__exercicio
     > article.modulo_02__exercicio__article
     > div.modulo_02__exercicio__article__container_code
     > code
     > small {
     color: #f78dbb;
     font-size: 0.95rem;
}

body.body_modulo_02 > footer {
     position: static;
}